<div class="container">
  <div class="row mt-5">
  <div class="col-md-6 offset-md-3">
  <h2>Student Log in</h2>

    <%= render 'shared/log_in_form' %>

    <%= render "devise/shared/links" %>
  
  </div>
  </div>
</div>

