<main>
<%= render partial: 'shared/page_header', locals: { title: current_member.full_name, feather_icon: 'activity' } %>
<div class="container-fluid mt-n10">
  <%= link_to'Add a course', new_course_path, class: 'btn btn-outline-light' %>
</div>

</main>  
