<div class="container">
  <div class="row mt-5">
    <div class="col-md-6 offset-md-3">
    <h2>Teacher sign up</h2>
      <%= render "shared/sign_up_form" %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>


